<div class="card shadow mb-4">
    <!-- {{>message}}-->

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
            Actualizar información de hallazgos
        </h6>
    </div>

    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-12">
            <div class="p-5">
                <form action="/hallazgos/edit/{{hallazgo.idhallazgos}}" method="POST">
                    <div class="form-group row">
                        <div class="form-group col-sm-6 mb-3 mb-sm-0">
                            <label class="label label-default">Hallazgos:</label>
                            <textarea class="form-control" name="hallazgos">{{hallazgo.hallazgos}}</textarea>
                            <br>
                        </div>
                        <div class="form-group col-sm-6 mb-3 mb-sm-0">
                            <label class="label label-default">Conclusiones:</label>
                            <textarea class="form-control" name="conclusiones"
                                required>{{hallazgo.conclusiones}}</textarea>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-warning btn-block" onclick="ValidarEstadoPrueba()">
                                Actualizar
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <a href="/pruebas/add/{{hallazgo.id_prueba}}" class="btn btn-secondary btn-block">
                                Cancelar
                            </a>
                        </div>
                        <hr>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

