<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{!-- <%- new Date().getFullYear(); %> © Dirección Coporativa de Contabilidad. --}}
                    <script>document.write(new Date().getFullYear())</script> &copy; Dirección Coporativa de
                    Contabilidad.

            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Sección Mejoramiento Corporativo.
                </div>
            </div>
        </div>
    </div>
</footer>
