<div class="card shadow mb-4">
    <!-- {{>message}}-->

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Modificar tipo</h6>
    </div>

    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-12">
            <div class="p-5">
                <form class="user" action="/parametrizacion_listas/edit_tipo/{{tipo.id}}" method="POST">
                    <div class="form-group row">
                        <div class="form-group col-sm-6 mb-3 mb-sm-0">
                            <label class="label label-default">Tipo:</label>
                            <input type="text" class="form-control " name="nom_tipo" value="{{tipo.nom_tipo}}"
                                placeholder="" required>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-warning btn-block">
                                Guardar
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <a href="/parametrizacion_listas/list_tipo" class="btn btn-secondary btn-block">
                                Cancelar
                            </a>
                        </div>
                        <hr>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>