<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Nodos</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Parametrización</a></li>
                    <li class="breadcrumb-item active">Nodos</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title"></h4>
                <p class="card-title-desc">Esta opción permite parametrizar los diferentes nodos que hacen parte del
                    proceso.
                </p>
                <div class="">
                    <a href="/parametrizacion/add_layout" class="btn btn-success .btn-circle btn-sm mr-auto">
                        <span class="icon text-white-50">
                            <i class="mdi mdi-check-all"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                </div>
                <hr>
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">

                    <thead>
                        <tr align="center">
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each layouts}}
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{descripcion}}</td>
                            <td align="center">
                                <a class="btn btn-success btn-sm" href="/parametrizacion/add_cuentas/{{id}}">
                                    <span class="icon text-white-50 d-inline-block" tabindex="0" data-placement="top"
                                        title="Agregar cuentas"><i class="fas fa-plus" data-toggle="tooltip"> </i>
                                    </span>
                                    <span class="text"> </span>
                                </a>
                                <a class="btn btn-danger btn-sm" href="/parametrizacion/layouts/delete/{{id}}" onclick="return preguntarEliminar()">
                                    <span class="icon text-white-50 d-inline-block" tabindex="0" data-placement="top"
                                        title="Eliminar layout"><i class="fas fa-trash" data-toggle="tooltip"> </i>
                                    </span>
                                    <span class="text"> </span>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr align="center">
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>
</div>

<script>
    function preguntarEliminar() {
        var respuesta = confirm('¿Esta seguro que desea eliminar este elemento?');
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    };
</script>