<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <span class="fe-user-plus fa-2x fa-lg">
            </span>
            Cash & Equi Balance Sheet
        </h6>
    </div>

    <h6></h6>
    <h6 align="right" class="m-0 font-weight-bold text-primary">
    </h6>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="p-3">
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="form-group col-sm-6 mb-3 mb-sm-0">
                                <label class="label label-default">Año</label>
                                <select class="form-control" name="area" id="area">
                                    <option value="">- Elegir Opción</option>
                                    <option>2021</option>
                                    <option>2020</option>
                                    <option>2019</option>
                                    <option>2018</option>
                                    <option>2017</option>
                                </select>
                                <br>
                            </div>
                            <div class="form-group col-sm-6 mb-3 mb-sm-0">
                                <label class="label label-default">Periodo</label>
                                <select class="form-control" name="area" id="area">
                                    <option value="">- Elegir Opción</option>
                                    <option>Mensual</option>
                                    <option>Trimestral</option>
                                    <option>Semestral</option>
                                    <option>Anual</option>


                                </select>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        {{!-- Tabla para anual --}}
        <div class="form-group col-sm-12 mb-12 mb-sm-0">
            <h2 align="center">IBE-1</h2>
            <div class="card-body">
                <div class="table-responsive">
                    <table border="1" class="table table-striped table-sm table-hover table-bordered" width="100%"
                        id="datatable-buttons" cellspacing="0">
                        <thead>
                            <tr>
                                <th>.</th>
                                <th>.</th>
                                <th>.</th>
                                <th>.</th>
                                <th>.</th>
                                <th>.</th>
                                <th>.</th>
                                <th>.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td>Cash and equivalents, items in process of collection, unposted debits, and currency
                                    and coins</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>(Non-interest bearing)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>a.</td>
                                <td></td>
                                <td>Cash items in process of collection and unposted debits </td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>b.</td>
                                <td></td>
                                <td>Currency and coins</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>c.</td>
                                <td></td>
                                <td>Other non-interest bearing balances from depository institutions</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Balances due from depository institutions</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td>Oriental Bank</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>93,833</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>2</td>
                                <td></td>
                                <td>Banco Popular de Puerto Rico </td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>104,207</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>3</td>
                                <td></td>
                                #¡REF!
                                <td></td>
                                <td>xxxxxx</td>
                                <td>43286</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>4</td>
                                <td></td>
                                <td>Sucursal Panamá & Bancolombia Cayman</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>32074</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>5</td>
                                <td></td>
                                <td>Total other </td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>75558,04</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Balances due from depository institutions in correspondent banks:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td>(TEXT)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>2</td>
                                <td></td>
                                <td>(TEXT)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>3</td>
                                <td></td>
                                <td>(TEXT)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>4</td>
                                <td></td>
                                <td>Resticted Cash</td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>5</td>
                                <td></td>
                                <td>Total Other non-interest bearing balances in correspondent banks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>6</td>
                                <td></td>
                                <td>Total Other non-interest bearing balances from depository institutions</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>d.</td>
                                <td></td>
                                <td>Total cash and equivalents - (Report this amount on Schedule IBE-1a )</td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>75558</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td>Deposits, money market investments and other interest-bearing balances due from
                                    depository institutions</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>(Includes time certificates of deposits not held for trading)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>a.</td>
                                <td></td>
                                <td>Money market funds</td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>b</td>
                                <td></td>
                                <td>Time deposits with other financial institutions</td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>c</td>
                                <td></td>
                                <td>Time deposits with affiliated banks</td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>d</td>
                                <td></td>
                                <td>Other Interest-bearing deposits:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>I</td>
                                <td></td>
                                <td>Balances due from depository institutions</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td>Inbursa </td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>27</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>4</td>
                                <td></td>
                                <td>Resticted Cash</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>300</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>5</td>
                                <td></td>
                                <td>Total other interest bearing balances from depository institutions</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>327</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>II</td>
                                <td></td>
                                <td>Balances due from depository institutions in correspondent banks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td>Wells Fargo</td>
                                <td></td>
                                <td></td>
                                <td>10556</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>2</td>
                                <td></td>
                                <td>JP Morgan USD</td>
                                <td></td>
                                <td></td>
                                <td>6118</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>3</td>
                                <td></td>
                                <td>Bank of America, JP Morgan EUR & Caixabank </td>
                                <td></td>
                                <td></td>
                                <td>12298</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>4</td>
                                <td></td>
                                <td>Resticted Cash</td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>5</td>
                                <td></td>
                                <td>Total other interest bearing balances in correspondent banks</td>
                                <td></td>
                                <td></td>
                                <td>28972</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>6</td>
                                <td></td>
                                <td>Total other interest-bearing balances from depository institutions</td>
                                <td></td>
                                <td></td>
                                <td>327</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>e</td>
                                <td></td>
                                <td>Total deposits, money market investments and other - (report this amount on Schedule
                                    IBE-1 )</td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>29299</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td>Restricted deposits</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>a.</td>
                                <td></td>
                                <td>Guarantee deposits for the clearing and processing of transactions</td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>b.</td>
                                <td></td>
                                <td>Deposit to comply with Office of the Commissioner (regulation 5653 article 5 point
                                    5).</td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>300</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>c.</td>
                                <td></td>
                                <td>Other </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td>(TEXT)</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>2</td>
                                <td></td>
                                <td>(TEXT)</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>3</td>
                                <td></td>
                                <td>(TEXT)</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>4</td>
                                <td></td>
                                <td>(TEXT)</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>5</td>
                                <td></td>
                                <td>Total other </td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>d</td>
                                <td></td>
                                <td>Total restricted cash and equivalents - (report this amount on Schedule IBE-1 )</td>
                                <td></td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>300</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Memoranda information:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Provide details of cash and equivalents by country :</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Account</td>
                                <td>($000).</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>a.</td>
                                <td>Puerto Rico</td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>498</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>b.</td>
                                <td>United States </td>
                                <td></td>
                                <td>xxxxxx</td>
                                <td>26177</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>c.</td>
                                <td>Foreign Countries:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Name of country</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td>Germany</td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>2</td>
                                <td>Panama</td>
                                <td>xxxxxx</td>
                                <td>75360</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>3</td>
                                <td>España</td>
                                <td>xxxxxx</td>
                                <td>2795</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>4</td>
                                <td>Colombia</td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>5</td>
                                <td>Mexico</td>
                                <td>xxxxxx</td>
                                <td>27</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>6</td>
                                <td>Other</td>
                                <td>xxxxxx</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>7</td>
                                <td>Total cash and equivalents in foreign countries</td>
                                <td></td>
                                <td>78182</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>8</td>
                                <td>Total cash and equivalents </td>
                                <td></td>
                                <td>104857</td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>